<header class="boxcar-header hheader-style-v4 five custom-header-style">
    <div class="header-inner">
      <div class="inner-container">
        <div class="c-box">
          <div class="logo-inner">
            <div class="logo">
              <a routerLink="/">
                <h2 class="my-logo gradient-logo">
                  AVCAR <span class="my-logo-span">with AI</span>
                </h2>
              </a>
            </div>
          </div>
  
          <div class="nav-out-bar">
            <nav class="nav main-menu">
              <ul class="navigation" id="navbar">
                <li><a routerLink="/">ANA SAYFA</a></li>
                <li><a routerLink="/cars">ARAÇLAR</a></li>
                <li><a routerLink="/">HİZMETLER</a></li>
                <li><a routerLink="/">KAMPANYALAR</a></li>
                <li><a routerLink="/">HAKKIMIZDA</a></li>
                <li><a routerLink="/">BİZE ULAŞIN</a></li>
              </ul>
            </nav>
          </div>
  
          <div class="right-box">
            <a class="search phone"><i class="fa-regular fa-mobile"></i>0 850 444 0 459</a>
            <div *ngIf="!isLoggedIn()" class="btn kayit-ol mob">
              <a routerLink="/register" class="header-btn-two">
                <i class="fa-solid fa-user-plus me-1"></i> Kayıt Ol
              </a>
            </div>
  
            <div *ngIf="!isLoggedIn()" class="btn giris-yap mob">
              <a routerLink="/login" class="header-btn-two">
                <i class="fa-solid fa-right-to-bracket me-1"></i> Giriş Yap
              </a>
            </div>
  
            <div *ngIf="isUser()" class="btn kullanici-hesabi mob">
              <a routerLink="/account" class="header-btn-two">
                <i class="fa-solid fa-user me-1"></i> Kullanıcı Hesabı
              </a>
            </div>
  
            <div *ngIf="isAdmin() || isSuperAdmin()" class="btn yonetici-hesabı mob">
              <a routerLink="/admin" class="header-btn-two">
                <i class="fa-solid fa-user-tie me-1"></i> Yönetici Hesabı
              </a>
            </div>
  
            <div class="mobile-navigation">
              <a href="javascript:void(0);" (click)="openMenu()">
                <svg width="22" height="11" viewBox="0 0 22 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="22" height="2" fill="#050B20" />
                  <rect y="9" width="22" height="2" fill="#050B20" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  