/* Full-screen Mobile Menu Overlay */
.mobile-menu-overlay {
    height: 100vh;  /* Full screen height */
    width: 100vw;   /* Full screen width */
    position: fixed;
    top: 0;
    left: 0;
    background-color:#ffffffa1; /* Semi-transparent background */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .mobile-menu-overlay.open {
    display: flex;
  }
  
  .mobile-menu {
    background: white;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .mobile-menu a {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    margin: 10px 0;
    font-weight: 500;
  }
  
  .mobile-menu a:hover {
    color: #007bff;
  }
  
  .closebtn {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  .custom-button{
    border: 1px solid;
    font-size: 16px;
    padding: 0 26px;
    border-radius: 16px;
    height: unset;
    width: 200px;
    line-height: 13px;
    text-align: center;
    background: #2c409e;
    border-color:#3045a5;
  }

  .mobile-links{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }