<footer class="boxcar-footer footer-style-five background-color-dark">
    <div class="footer-top">
        <div class="boxcar-container">
            <div class="right-box">
                <div class="top-left wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <h6 class="title" style="color:#fff;">AvCar'a Katılın</h6>
                    <div class="text" style="color:#fff;">Fiyat güncellemeleri, kiralama ipuçları ve daha fazlasını alın!</div>
                </div>
                <div class="subscribe-form wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                    <form method="post" action="#">
                        <div class="form-group">
                            <input type="email" name="email" class="email" value="" placeholder="E-mail" required="">
                            <button type="button" class="theme-btn btn-style-one hover-light"><span class="btn-title">Kayıt Ol</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="widgets-section">
        <div class="boxcar-container">
            <div class="row">
                <!-- Footer COlumn -->
                <div class="footer-column-two col-lg-9 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget wow fadeInUp">
                                <h4 class="widget-title text-color-white">Faydalı Bağlantılar</h4>
                                <div class="widget-content">
                                    <ul class="user-links style-two text-color-white">
                                        <li><a href="#">Araçlar</a></li>
                                        <li><a href="#">Hizmetler</a></li>
                                        <li><a href="#">Kampanyalar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget wow fadeInUp" data-wow-delay="100ms">
                                <h4 class="widget-title text-color-white">Hızlı Bağlantılar</h4>
                                <div class="widget-content">
                                    <ul class="user-links style-two text-color-white">
                                        <li><a href="#">Hakkımızda</a></li>
                                        <li><a href="#">Bize Ulaşın</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget wow fadeInUp" data-wow-delay="200ms">
                                <h4 class="widget-title text-color-white">Markalarımız</h4>
                                <div class="widget-content">
                                    <ul class="user-links style-two text-color-white">
                                        <li><a href="#">Aston Martin</a></li>
                                        <li><a href="#">Audi</a></li>
                                        <li><a href="#">Bentley</a></li>
                                        <li><a href="#">BMW</a></li>
                                        <li><a href="#">Bugatti</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget wow fadeInUp" data-wow-delay="300ms">
                                <h4 class="widget-title text-color-white">Araç Türleri</h4>
                                <div class="widget-content">
                                    <ul class="user-links style-two text-color-white">
                                        <li><a href="#">Binek</a></li>
                                        <li><a href="#">Station Vagon</a></li>
                                        <li><a href="#">SUV</a></li>
                                        <li><a href="#">Minibüs</a></li>
                                        <li><a href="#">MPV</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer column -->
                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-widget social-widget wow fadeInUp" data-wow-delay="400ms">
                        <h4 class="widget-title text-color-white">Çalışma Saatleri</h4>
                        <div class="widget-content">
                            <div class="text text-color-white">
                                Hafta İçi: 09:00 - 21:00<br>
                                Hafta Sonu: 09:00 - 19:00<br>
                            </div>
                            <div class="social-icons">
                                <h4 class="widget-title text-color-white">Bizimle İletişime Geçin</h4>
                                <ul class="text-color-white">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Footer Bottom -->
    <div class="footer-bottom background-color-dark">
        <div class="boxcar-container">
            <div class="inner-container">
                <div class="copyright-text wow fadeInUp text-color-white">© 2024 avcar.com. Tüm hakları saklıdır.
                </div>

                <ul class="footer-nav wow fadeInUp text-color-white" data-wow-delay="100ms">
                    <li><a href="#">Şartlar ve Koşullar</a></li>
                    <li><a href="#">Gizlilik Bildirimi</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
